  <div class="profile-title">
    <h4>Mon profil</h4>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3 ">
      <%= render 'shared/user_profile', user: @parent1, background_class: 'bg-user-1' %>
    </div>


    <div class="col-xs-6">
      <div class="child">
       <div class="child-info">
         <h2><strong>Nom:</strong></h2>
          <p><%= @parent1.child.first_name %></p>
          <h2><strong>Prénom:</strong></h2>
          <p><%= @parent1.child.last_name %></p>
          <h2><strong>Date de naissance:</strong></h2>
          <p><%= @parent1.child.birthday %></p>
        </div>
      </div>
    </div>
     <div class="col-xs-12 col-md-6 col-lg-3">
      <%= render 'shared/user_profile', user: @parent2, background_class: 'bg-user-2' %>
    </div>
  </div>

<!--   <div><%= link_to "Se deconnecter", destroy_user_session_path,method: :delete %>
  <%= link_to "Voir planning", custodies_path%></div>

 -->

