<h1>index(list) de residencies</h1>
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>


<%= month_calendar events: @residencies do |date, residencies| %>
  <%= date %>

  <% residencies.each do |meeting| %>
    <div>
      <%= meeting.user %>
    </div>
  <% end %>
<% end %>
