<div class="message">
  <h4 class="title-chat">
    Envoyer un message à <%= receiver.first_name %>
  </h4>

  <div class="message-user">
      <% messages.each do |message| %>
        <% if message.body %>
            <% if current_user == message.sender  %>
              <div class="message-time" id="time-right">
               <span><%=time_ago_in_words(message.send_at) %></span>
              </div>
              <div class="message-receiver">
                <p ><%= message.body %></p>
              </div>
            <% else %>
              <div class="message-time" id="time-left">
                <span><%=time_ago_in_words(message.send_at) %></span>
              </div>
              <div class="message-sender">
                <p ><%= message.body %></p>
              </div>
            <% end %>
        <% end %>
      <% end %>
  </div>
  <div>
    <%= form_for message do |f| %>
      <div>
        <%= f.text_area :body,
                        placeholder: "Tapez votre message ici.",
                        id: "t-message",
                        class: "form-control" %>
      </div>
      <div>
        <%= f.text_field :sender_id, value: current_user.id,
                         type: "hidden"  %>
        <%= f.text_field :receiver_id, value: receiver.id,
                         type: "hidden" %>
        <%= f.submit "Envoyer", class: "chat" %>
      </div>
    <% end %>
  </div>
</div>


