<div class="message">

<div class="column">
  <div  class="avatar margin"
        style="background-image: url('<%= cl_image_path receiver.avatar, height: 300, width: 400, crop: :fill %>')">
  </div>

  <h4 class="title-chat">
    Envoyer un message à <%= receiver.first_name %>
  </h4>

  <button type="button"
          class="button-close-chat btn-close-chat"
          data-toggle="tooltip"
          data-placement="top"
          title="Fermer le chat" >
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>
</div>
  <div class="message-user">
      <% messages.each do |message| %>
        <% if message.body %>
          <%= render "shared/message", message: message, user: current_user %>
        <% end %>

      <% end %>

  </div>

  <div>
    <%= form_for message, remote: true do |f| %>
      <div>
        <%= f.text_area :body,
                        placeholder: "Tapez votre message ici.",
                        id: "t-message",
                        class: "form-control" %>
      </div>
      <div>
        <%= f.text_field :sender_id, value: current_user.id,
                         type: "hidden"  %>
        <%= f.text_field :receiver_id, value: receiver.id,
                         type: "hidden" %>
        <%= f.submit "Envoyer", class: "chat" %>
      </div>
    <% end %>
  </div>
</div>



<% content_for :after_js do %>
  <script>

    function scrollToBottom() {
      const objDiv = document.querySelector(".message-user");
      objDiv.scrollTop = objDiv.scrollHeight;
    }

    function updateLastMessageClass(message_sender_id) {
      const lastMessage = document.querySelector(".message-wrapper:last-child");
      lastMessage.classList.remove("sender");

      if (message_sender_id == <%= current_user.id %>) {
        console.log("sender")
        lastMessage.classList.add("sender");
      } else {
        console.log("receiver");
        lastMessage.classList.add("receiver");
      }
    }
    scrollToBottom();

    App['child_id_<%= current_user.child.id %>'] = App.cable.subscriptions.create(
        { channel: 'ChatRoomsChannel', child_id: <%= current_user.child.id %> },
        { received: (data) => {
          document.querySelector(".message-user").insertAdjacentHTML('beforeend', data.message_partial);

          updateLastMessageClass(data.current_user_id);

          const btn = document.querySelector(".button-open-chat");
          const chat = document.querySelector(".message");
          chat.classList.add("display");
          btn.style.display = "none";

          scrollToBottom();
        }

      })
  </script>
<% end %>
