<div class="window-chat">
  <h4 class="title-chat">
    Envoyer un message à <%= receiver.first_name %>
  </h4>

<div class="window-message-user-1">
    <% messages.each do |message| %>
      <% if message.body %>
        <div class="message-time">
         <p><%=time_ago_in_words(message.send_at) %></p>
        </div>
          <% if current_user == message.sender  %>
            <div class="message-container-1">
              <div class="message-user-2">
                <p ><%= message.body %></p>
              </div>
            </div>
          <% else %>
            <div class="message-container-2">
              <div class="message-user-1">
                <p ><%= message.body %></p>
              </div>
            </div>
          <% end %>
      <% end %>
    <% end %>
</div>
<div>
  <%= form_for message do |f| %>
    <div class="field">
      <%= f.text_area :body,
                      placeholder: "Tapez votre message ici.",
                      class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :sender_id, value: current_user.id,
                       type: "hidden"  %>
      <%= f.text_field :receiver_id, value: receiver.id,
                       type: "hidden" %>
      <%= f.submit "Envoyer" %>
    </div>
  <% end %>
</div>
</div>


