<div id="user-show"class="user <%= background_class %>">

  <div>
    <%=cl_image_tag "#{user.avatar}", class: "user-avatar"%>
  </div>

  <div class="user-information">
    <h2><strong>Nom:</strong></h2>
    <p><%= user.last_name %></p>
    <h2><strong>Prénom:</strong></h2>
    <p><%= user.first_name %></p>
    <h2><strong>Adresse email:</strong></h2>
    <p><%= user.email %></p>
    <h2><strong>Numéro de téléphone:</strong></h2>
    <p><%= user.phone%></p>
  </div>

</div>




