 <div id="user-show"class="user <%= background_class %>">

  <div>
    <%=cl_image_tag "#{user.avatar}", class: "user-avatar"%>
  </div>

  <div class="user-information">
      <div class="user-fullname">
        <p><strong><%= user.last_name %>     <%= user.first_name %></strong></p>
      </div>
      <div class="user-email">
        <p><strong><%= user.email %></strong></p>
      </div>
      <div class="user-phone">
        <p><strong><%= user.phone %></strong></p>
      </div>
  </div>
</div>



