
<h1>Nouvel événement</h1>
<ul>
<%= simple_form_for @event do |f| %>
  <%= f.input :title %>
  <%= f.input :text %>
  <%= f.input :date_start %>
  <%= f.input :date_end %>
  <%= f.file_field :image %>
 <%= f.button :submit, class: 'btn btn-primary' %>
</ul>
<% end %>




