  <h1>Événements</h1>

   <%= @event.title %>
   <%= @event.text %>
   <%= @event.date_start %>
   <%= @event.date_end %>

<% if current_user == nil %>
 <% elsif @event.user_id == current_user.id  %>

    <%=link_to "Modifier", edit_event_path, class: 'btn btn-primary' %>

<% end %>
