<div id="requests">
  <h1>Envoyer un message</h1>
  <% @conversation.requests.each do |request| %>
    <% if request.body %>
      <div class="request">
        <div class="request-left">

          <p><%= request.date_start %></p>p
          <%#= request.user.image.thumb, class: "request-object user-img", alt: request.user.firstname %>
          <p><%= request.user.firstname %></p>
        </div>
        <div class="request-body">
          <h5 class="request-heading">
          <p><%= request.user.firstname %></p>
          <p><%= request.body %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @request] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, autofocus: true, placeholder: "Tapez votre message ici.", class: "form-control", rows: 5 %>
  </div>

  <%= f.submit "Envoyer", class: "btn btn-primary pull-right" %>
<% end %>
