<div id="requests">
  <% @conversation.requests.each do |request| %>
    <% if request.body %>
      <div class="message">
        <div class="message-left">
          <%= image_tag request.user.image.thumb, class: "message-object user-img", alt: request.user.firstname %>
        </div>
        <div class="message-body">
          <h5 class="message-heading"><%= request.user.firstname %> <small class="text-muted"><%= request.time %></small></h5>
          <p><%= request.body %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @request] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, autofocus: true, placeholder: "Your request", class: "form-control", rows: 5 %>
  </div>

  <%= f.submit "Send", class: "btn btn-primary pull-right" %>
<% end %>
