

<div class="main-container">



  <% if @day_on <= Date.today %>
<div class="form-container">

    <h4>Ajouter un événement </h4>
      <%= simple_form_for @custody do |f| %>
        <div><%= f.input :title %></div>
        <div><%= f.input :text %></div>
        <div >
        <label id="image-label"for="photo">Télécharger une photo</label>
          <%=f.file_field :image%>
        </div>
        <div><%= f.button :submit, class: 'button btn-edit' %></div>
      <% end %>
      </div>

      <% else %>
<div class="form-container">

        <h4>Modifier le planning</h4>

          <%= simple_form_for @custody do |f| %>
            <%= f.input  :title %>
            <%= f.input  :text %>
            <%= f.input  :day_on %>
            <%= f.button :submit, class: 'button' %>
          <% end %>

      <% end %>
</div>
</div> <!-- end container -->




