<% if @day_on <= Date.today %>

  <h1>Ajouter un événement </h1>
  <%= simple_form_for @custody do |f| %>
   <%= f.input     :title %>
   <%= f.input     :text %>
   <%=f.file_field :photo%>
   <%= f.button    :submit, class: 'btn btn-primary' %>
  <% end %>
<% else %>

  <h1>Modifier la garde</h1>
  <%= simple_form_for @custody do |f| %>
   <%= f.input  :day_on%>
   <%= f.input  :title %>
   <%= f.input  :text %>
   <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
<% end %>


