<div class="container-edit-custody">
 <div class="row">
  <div class="col-sm-12 col-sm-offset-0">



<% if @day_on <= Date.today %>

  <h1>Ajouter un événement </h1>
  <%= simple_form_for @custody do |f| %>
   <%= f.input     :title %>
   <%= f.input     :text %>
   <%=f.file_field :photo%>
   <%= f.button    :submit, class: 'button' %>
  <% end %>
<% else %>

  <h1>Modifier la garde</h1>
  <%= simple_form_for @custody do |f| %>
   <%= f.input  :day_on%>
   <%= f.input  :title %>
   <%= f.input  :text %>
   <%= f.button :submit, class: 'button' %>
  <% end %>
<% end %>

  </div> <!-- end col -->
 </div> <!-- end row -->
</div> <!-- end container -->
