

<div class="main-container">

<%= link_to custodies_path do  %>
<button type="button" id="button-close-month" class="button-circle" data-toggle="tooltip" data-placement="bottom" title="Fermer" >
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>

<% end %>
  <% if @custody.day_on > Date.today %>
    <div class="form-container">
      <%= simple_form_for @custody do |f| %>
        <%= f.input  :day_on %>
        <%= f.association :user, label_method: :first_name, input_html: { value:  opposite_parent_for(@custody, current_user).id }, as: :hidden %>
        <%= f.button :submit, label= "Modifier le planning", class: 'button' %>
      <% end %>
    </div>
  <% else %>
    <div class="form-container ">
      <div class="justify-center">
      <span class="day "><%= l(@custody.day_on, format: "%A")%></span>
      <span class="date"><%= @custody.day_on.day %></span>
      <span class="month"><%= l(@custody.day_on, format: "%B")%></span>
      </div>


        <%= content_for(:meta_title) do  %>
          Modifier l'événement
        <% end %>


      <%= simple_form_for @custody do |f| %>
        <%= f.input :title %>
        <%= f.input :text %>
        <%= f.file_field :media, multiple: true  %>
        <%= f.button :submit, label= "Editer un moment", class: 'button btn-edit' %>

      <% end %>

    </div>
  <% end %>

</div> <!-- end container -->


