
<div class="card-form">

  <% if @day_on <= Date.today %>


  <div class="form-control">
       <div class="edit-left">
     <h4>Ajouter un événement </h4>
       <%= simple_form_for @custody do |f| %>
       <%= f.input     :title %>
       <%= f.input     :text %>
     </div>
     <div class="edit-right">
       <%=f.file_field :photo%>
       <%= f.button    :submit, class: 'button' %>
     <% end %>
     </div>
  </div>

    <% else %>

    <h4>Modifier la garde</h4>
      <%= simple_form_for @custody do |f| %>
        <div class="date"><%= f.input  :day_on%> </div>
        <div class="titre"><%= f.input  :title %>
                      <%= f.input  :text %></div>
      <%= f.button :submit, class: 'button' %>
      <% end %>

    <% end %>


</div> <!-- end card form -->


