

<div class="main-container">

  <% if @day_on > Date.today %>
    <div class="form-container">
      <%= simple_form_for @custody do |f| %>
        <%= f.input  :day_on %>
        <%= f.button :submit, label= "Modifier le planning", class: 'button' %>
      <% end %>
    </div>
  <% else %>
    <div class="form-container">
      <h4><%= l(@day_on, format: "%A").capitalize %>
          <%= @day_on.day %>
          <%= l(@day_on, format: "%B")%>
      </h4>

      <%= simple_form_for @custody do |f| %>
        <%= f.input :title %>
        <%= f.input :text %>
        <label class="label-photo" for="photo">Télécharger une photo</label>
        <%= f.file_field :image %>
        <%= f.button :submit, label= "Editer un moment", class: 'button btn-edit' %>
      <% end %>
    </div>
  <% end %>

</div> <!-- end container -->


