

<div class="show-container">

  <% if @day_on <= Date.today %>

  <div class="edit-left">
    <h4>Ajouter un événement </h4>
      <%= simple_form_for @custody do |f| %>
        <div><%= f.input :title %></div>
        <div><%= f.input :text %></div>
  </div>

  <div class="edit-right">

      <div class="add-photo">
        <label id="image-label"for="photo">Télécharger une photo</label>
          <%=f.file_field :image%>
      </div>
      <div><%= f.button :submit, class: 'button btn-edit' %></div>
      <% end %>
  </div>

  <% else %>
    <h4>Modifier la garde</h4>
      <%= simple_form_for @custody do |f| %>
        <div class="jour"><%= f.input  :day_on%> </div>
        <div class="titre"><%= f.input  :title %>
                      <%= f.input  :text %></div>
      <%= f.button :submit, class: 'button btn-edit ' %>
      <% end %>

  <% end %>
</div> <!-- end container -->




