<div class="page-entiere">


  <div class="custody-cards">
  <% @custodies.each do |custody| %>

    <div class="one-card <%= custody.user == current_user ? 'user-1' : "user-2" %>">
      <p class="day-custody"><%= l(custody.day_on, format: "%A")%></p>
      <p class="date-custody"><%= l(custody.day_on, format: "%d")%></p>
      <p class="user-custody"><%= User.find(custody.user_id).first_name %></p>

      <% if custody.user == current_user %>

        <%= link_to edit_custody_path(custody) do  %>
          <p class="btn-add-user-1" class="button-custody-add"></p>
        <% end %>

        <%= link_to edit_custody_path(custody) do  %>
          <p class="btn-change-date-user-1" class="button-custody-change"></p>
        <% end %>

      <% else %>

        <%= link_to edit_custody_path(custody) do  %>
          <p class="btn-add-user-2" class="button-custody-add"></p>
        <% end %>

        <%= link_to edit_custody_path(custody) do  %>
          <p class="btn-change-date-user-2" class="button-custody-change"></p>
        <% end %>
      <% end %>

        <p class="title-custody"><a href="custodies/4"><%= custody.title %></a></p>
    </div>
  <% end %>
</div>

<%= link_to custodies_path(number: (params[:number].to_i - 1)) do %>
  <p>semaine précédente</p>
<% end %>

<%= link_to custodies_path(number: (params[:number].to_i + 1)) do %>
  <p>semaine suivante</p>
<% end %>

  <div class="window-chat">
    <p>youhou</p>
  </div>



</div>

