

<div class="show-container">

<div class="body-left">
  <div class="show-date">
    <span class="day"><%= l(@custody.day_on, format: "%A")%></span>
      <span class="date"><%= @custody.day_on.day %></span>
      <span class="month"><%= l(@custody.day_on, format: "%B")%></span>
  </div>

  <% @media.each do |medium| %>
    <a href="<%= "#{medium.photo}" %>">
      <span class="show-photo">
        <%= cl_image_tag("#{medium.photo}", width: 162, height: 162, crop: :fill) %>
      </span>
    </a>
  <% end %>

</div>

<div class="body-right">

  <ul class="list-inline show-btn ">
    <li>
      <div class="avatar outline" style="background-image: url('<%= cl_image_path @custody.user.avatar, height: 300, width: 400, crop: :fill %>')">
      </div>
    </li>
    <li>
      <%= link_to custodies_path do  %>
        <button type="button" class="button-circle" data-toggle="tooltip" data-placement="bottom" title="Fermer" >
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      <% end %>
    </li>
  </ul>

<h4> <%= @custody.title %></h4>
<p> <%= @custody.text %></p>

</div>



</div>
