

<div class="show-container">

<div class="body-left">
  <div class="show-date">
    <span class="day"><%= l(@custody.day_on, format: "%A")%></span>
      <span class="date"><%= @custody.day_on.day %></span>
      <span class="month"><%= l(@custody.day_on, format: "%B")%></span>
  </div>



<!-- My PhotoSwipe -->
  <div class="my-gallery " itemscope itemtype="http://schema.org/ImageGallery">
    <% @media.each do |medium| %>
      <figure class="inline" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="<%= "#{medium.photo}" %>" itemprop="contentUrl" data-size="500x600">
          <span class="show-photo" temprop="thumbnail" alt="Image description">
          <%= cl_image_tag("#{medium.photo}", width: 162, height: 162, crop: :fill) %>
          </span>
        </a>
      </figure>
    <% end %>
  </div>
<!-- End PhotoSwipe -->





</div>

<div class="body-right">

  <ul class="list-inline show-btn ">
    <li>
      <div class="avatar outline" style="background-image: url('<%= cl_image_path @custody.user.avatar, height: 300, width: 400, crop: :fill %>')">
      </div>
    </li>
    <li>
      <%= link_to custodies_path do  %>
        <button type="button" class="button-circle" data-toggle="tooltip" data-placement="bottom" title="Fermer" >
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      <% end %>
    </li>
  </ul>

<h4> <%= @custody.title %></h4>
<p> <%= @custody.text %></p>

</div>



</div>


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <!-- <button class="pswp__button pswp__button--share" title="Share"></button> -->

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>
